<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">COURSES</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/courses/add" method="POST">

                    <div class="form-group">
                        <label for="name">Course name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="course"
                               th:value="${course}  != null ? ${course.getName()} : ''"
                               required
                               placeholder="Enter course name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text"
                               class="form-control"
                               id="description"
                               name="description"
                               th:value="(${course} != null ? ${course.getDescription()} : '')"
                               placeholder="Description">
                    </div>

                    <div class="form-group">
                        <label>Teacher</label>
                        <select name="teacherId" class="form-control" required>
                            <option th:if="${course} != null"
                                    th:selected="${course.getTeacher() != null && course.getTeacher().getId() == teacher.getId()}"
                                    th:each="teacher : ${teachers}"
                                    th:value="${teacher.getId()}"
                                    th:text="${teacher.getTeacherFullName().getName()} + ' ' + ${teacher.getTeacherFullName().getSurname()}">
                            </option>
                            <option th:if="${course} == null"
                                    th:each="teacher : ${teachers}"
                                    th:value="${teacher.getId()}"
                                    th:text="${teacher.getTeacherFullName().getName()} + ' ' + ${teacher.getTeacherFullName().getSurname()}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select name="courseType" class="form-control">
                            <option th:if="${course} != null"
                                    th:selected="${course.getType() != null && course.getType() == type}"
                                    th:each="type : ${types}"
                                    th:value="${type}"
                                    th:text="${type}">
                            </option>
                            <option th:if="${course} == null"
                                    th:each="type : ${types}"
                                    th:value="${type}"
                                    th:text="${type}">
                            </option>
                        </select>
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/courses">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>



