<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Courses</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="fragments/header"/>


<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">COURSES</h1>
  </div>
</section>

<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div th:if="${hasError}">
        <div th:text="${error}" class="text-danger h3"></div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Student name</th>
            <th scope="col">Username</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="student : ${students}">
            <td th:text="${student.getName()} + ' ' + ${student.getSurname()}"></td>
            <td th:text="${student.getUsername()}"></td>
            <td class="text-right">
              <form th:action="@{StudentEnrollmentSummary}" th:method="POST">
                <!--<input type="radio" th:name="username"  hidden checked>-->
                <button type="submit" th:name="student" th:value="${student.username}" class="btn btn-sm btn-danger"><i class="fa fa-trash">Add</i></button>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-3">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <a href="/CreateStudent" class="btn btn-block btn-dark">Create new student</a>
        </div>
      </div>
    </div>
  </div>
</div>



<footer th:replace="fragments/footer"/>
</body>
</html>


