<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading" th:text="${courseSummary.getName()}"></h1>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div th:if="${hasError}">
                    <div th:text="${error}" class="text-danger h3"></div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Add Grade</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student : ${courseSummary.getStudents()}">
                            <td th:text="${student.getName()} + ' ' + ${student.getSurname()}"></td>
                            <td th:text="${student.getUsername()}"></td>
                            <td th:text="${grades.get(student.getUsername())}"></td>
                            <td class="text-left">
                                <a th:href="@{'/grades/add-grade/{course-id}&{student-id}' (course-id=${courseSummary.getCourseId()}, student-id=${student.getUsername()})}"
                                   class="btn btn-sm btn-info"><i class="fa fa-trash">Add grade</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <a href="/AddStudent" class="btn btn-block btn-dark">Add new student</a>
                    </div>
                    <div class="col-sm-6 col-md-6 mt-10">
                        <a href="/CreateStudent" class="btn btn-block btn-dark">Create new student</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



